* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: aliceblue;
    background-image: url(https://coderocket.live/images/home/home-bg-common.png);
}
i {
    cursor: pointer;
}
a {
    text-decoration: none;
    color: #fff ;
}
footer {
    background: #023047;
}
.foot {
    text-align: center;
    color: #bbb;
}
.navbar {
    background-color: #023047;
    color: #fff;
    padding: 1.5rem 3.75rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1.9rem;
    align-items: center;
}
.cart {
    position: relative;
    background-color: #023047;
    color: #fff;
    font-size: 2rem;
    padding: .3rem;
    border: 2px solid white;
}
.cart:hover {
    background: green;
    transform: scale(1.1);
    filter: brightness(150%);
}
.cartAmount {
    font-size: 1rem;
    background-color: red;
    color: white;
    position: absolute;
    top: -0.2rem;
    right: 0;
   
    
}

/*-------------------shop item styles----------------------------------------*/

.shop {
    display: grid;
    grid-template-columns: repeat(4, 14rem);
    gap: 1.9rem;
    justify-content: center;
    margin-bottom: 1.25rem;
    
}
@media (max-width: 1000px) {
    .shop {
        grid-template-columns: repeat(2, 14rem);
    }
}
@media (max-width: 510px) {
    .shop {
        grid-template-columns: repeat(1, 14rem);
    }
}
.item {
    border: 0.1rem solid #023047;
    border-radius: 0.3rem;
    box-shadow: 1px 1px 7px;
    
}
.item:hover img{
    border-radius: 10px;
    transform: scale(1.5);
   
}
.item img {
    width: 100%;
    border-radius: 2px 2px 0 0;
    transition: 0.2s;
}
.details {
    display: flex;
    flex-direction: column;
    padding: 0.6rem;
    gap: 0.6rem;
}
.price-quantity {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.buttons {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    font-size: 1rem;
}
.bi-dash-lg {
    color: red;
}
.bi-plus-lg {
    color: green;
}

/*------------------------------------------------*/

.text-center {
    text-align: center;
    margin-bottom: 1.25rem;
}
.HomeBtn, .checkout, .removeAll {
    background-color: #023047;
    color: #fff;
    border: none;
    padding: 0.4rem;
    border-radius: 0.4rem;
    cursor: pointer;
    margin-top: 0.6rem;
}
.checkout {
    background-color: green;
}
.removeAll {
    background-color: red;
}
.bi-x-lg{
    color: red;
    font-weight: bolder;
}
.shopping-cart {
    display: grid;
    grid-template-columns: repeat(1, 20rem);
    justify-content: center;
    gap: 0.9rem;
    margin-bottom: 2rem;
}
.cart-item {
    border: 2px solid #023047;
    border-radius: 0.4rem;
    display: flex;
}
.title-price-x {
    width: 12.5rem;
    display: flex;
    justify-content: space-between;
}
.title-price {
    display: flex;
    align-items: center;
    gap: 0.9rem;
}
.cart-item-price {
    background-color: #023047;
    color: #fff;
    border-radius: 0.2rem;
    padding: 0.2rem 0.4rem;
}